body {
    font-family: Helvetica, sans-serif;
    background-color: #F2F2F2;
    color: #1A1A1A;
    margin: 35px 70px;
}

header {
    margin-bottom: 10px;
}

nav {

}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #1A1A1A;
}

nav a.active {
    text-decoration: underline;
}

main {

}

h1 {
    font-size: 79px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 0;
    
}

h2 {
    font-size: 38px;
    font-weight: normal;
    margin-top: -10px;
    margin-left: 2px;
}

p {
    font-size: 16px;
}