body {
    font-family: Helvetica, sans-serif;
    background-color: #F2F2F2;
    color: #1A1A1A;
    margin: 35px 70px;
}

header {
    margin-bottom: 10px;
}

nav {
    position: relative;
    left: 649px;
}

nav a {
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    color: #1A1A1A;
    margin-right: 79px;
}

nav a.active {
    text-decoration: underline;
}

.nav-left {
    position: fixed;
    top: 35px;
    left: 70px;
}

main {

}

.home-text {
    position: fixed;
    top: 138px;
    left: 70px;
    margin-left: -5px;
}

h1 {
    font-size: 79px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 0;
    
}

h2 {
    font-size: 38px;
    font-weight: normal;
    margin-top: -5px;
    margin-left: 2px;
}

p {
    font-size: 16px;
}