body {
    font-family: Helvetica, sans-serif;
    background-color: #F2F2F2;
    color: #1A1A1A;
    margin: 40px 70px;
}

header {
    position: sticky;
    margin-bottom: 10px;
    display: inline-block;
}

nav {
    position: relative;
    left: 649px;
}

nav a {
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #1A1A1A;
    margin-right: 79px;
}

nav a.active {
    text-decoration: underline;
}

.nav-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 40px 70px;
}

main img {
    position: fixed;
    top: 163px;
    left: 70px;
    width: 405px;
    height: 514px;
}

article {
    position: absolute;
    top: 163px;
    left: 648px;
    width: 562px;
}

article p {
    font-size: 37px;
}

.nav-left img {
    color: #1A1A1A;
    width: 31px;
    height: 18px;
}

main {

}

.home-text {
    position: fixed;
    top: 163px;
    left: 70px;
    margin-left: -5px;
}

h1 {
    font-size: 79px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 0;
    
}

h2 {
    font-size: 38px;
    font-weight: normal;
    margin-top: -5px;
    margin-left: 2px;
}

p {
    font-size: 16px;
}